<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolyardBiodiversityProject</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="~/images/index.ico" />

    <!--CSS-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/kdwpt-base.css" rel="stylesheet" />
    <link href="~/css/top_menu.css" rel="stylesheet" />
    <link href="~/css/mobile_top_menu.css" rel="stylesheet" />
    <link href="~/css/kdwpt_responsive.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/persistant_menu_bar.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.9.2.custom.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/block_toggle.js" charset="utf-8"></script>
</head>
<body>


    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZW7HPW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Facebook Pixel Code -->
    <script>

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '206864619860030');
        fbq('track', 'PageView');

    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=206864619860030&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Complete page area: START --><!--JCC START MOBILE MENU JCC-->
    <div class="mobile_header">
        <div class="mobile_tool_bar">
            <button id="mainmenubtn" title="Main Mobile Menu" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"> </span>MENU</button>
            <button id="mobmenuselected" title="Sub Mobile Menu" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="text-align: right;"><span class="ui-button-text"></span></button>
            <button id="mobclosebtn" title="Close Mobile Menu" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Close</span></button>
        </div>
        <div class="mobile_header_overlay"><a href="https://ksoutdoors.com/"><img src="~/images/kdwptnamemob.png" alt="Home"></a></div>
    </div>
    <!-- SLIDE OUT MENU -->
    <div id="mobile_popup_menu" class="page-body">
        <div class="page-bg">
            <div class="main-bg">
                <div class="main-area page-body">
                    <div class="landing-page-attribute-header"><h1>Main Menu</h1></div>
                    <div class="mobile_menu_contain subitemnoborders">
                        <center>

                        </center>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--JCC STOP MOBILE MENU JCC-->
    <div id="spinnerIcon"></div>
    <div id="shadow"></div>
    <div id="overlay"></div>
    <div id="page" class=" section_id_7 subtree_level_0_node_id_2 subtree_level_1_node_id_34100">


        <!-- Header area: START -->


        <header>
            <div class="header-bg-img-container">
                <div class="header-bg-imgs nomobile">

                    <img class="header-left-img" src="~/images/top-left-img.png" alt="KDWPT Header Left">
                    <img class="header-middle-img" src="~/images/top-middle-img.png" alt="KDWPT Header Middle">
                    <img class="header-right-img" src="~/images/top-right-img.png" alt="KDWPT Header Right">
                </div>
            </div>

            <div class="header-bg">
                <div class="header-bg2">
                    <div class="container">

                        <div class="row">
                            <div class="kdwpt-logo">


                                <form class="form-search" method="get" action="/content/search" id="site-wide-search">
                                    <label for="site-wide-search-field" class="pull-right">
                                        <span class="hidden">Search</span>
                                    </label>
                                    <input class="search-query span3 pull-right" type="search" name="SearchText" id="site-wide-search-field" placeholder="Search KDWPT" title="Search KDWPT">

                                </form>

                                <div id="kdwpt-social">
                                    <a href="https://ksoutdoors.com/KDWPT-Info/KDWPT-Social-Media#facebook" title="Be a fan on facebook"><img src="~/images/facebook_20.png" alt="Be a fan on facebook"></a>
                                    <a href="https://ksoutdoors.com/KDWPT-Info/KDWPT-Social-Media#twitter" title="Follow us on Twitter"><img src="~/images/twitter_20.png" alt="Follow us on Twitter"></a>

                                    <a href="https://ksoutdoors.com/KDWPT-Info/KDWPT-Blogs" title="Read all KDWPT Blogs"><img src="~/images/blogger_20.png" alt="Read all KDWPT Blogs"></a>
                                    <a href="http://ksoutdoors.com/rss/feed/webnews" title="Receive our RSS feed"><img src="~/images/feed_20.png" alt="Receive our RSS feed"></a>
                                </div>

                            </div>

                            <div id="kdwpt_name">
                                <a href="https://ksoutdoors.com/" title="KDWPT Home"><img id="kdwptlogo_name" src="~/images/KDWPT-Name.png" alt="Kansas Department of Wildlife, Parks and Tourism"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header area: END -->
        <div class="page-body">
            <div class="page-bg">
                <div class="main-bg">
                    <div class="main-area page-body">
                        <div class="navbar main-navi" style="top: -10px; left: 0px; width: 100%;">
                            <!-- Top menu area: START -->

                            <div id="topmenu-position" class="navbar-inner">
                                <div class="topmenu container">



                                    <div id="topmenu-design" class="nav-collapse">
                                        <ul id="topmenu-firstlevel">




                                            <li id="node_id_33660" class="mainmenu firstli">
                                                <div class="menu-item"><a id="menu_link_33660" href="https://ksoutdoors.com/Hunting" title="Hunting"><span>Hunting</span></a></div>


                                                <ul id="submenu_33660" class="submenu" style="width:300px; z-index: 2598000">
                                                    <li><a id="menu_link_33661" href="https://ksoutdoors.com/Hunting/Applications-and-Fees" title="Fees, Licenses &amp; Permits"><span>Fees, Licenses &amp; Permits</span></a></li>

                                                    <li><a id="menu_link_33662" href="https://ksoutdoors.com/Hunting/Where-to-Hunt" title="Where to Hunt"><span>Where to Hunt</span></a></li>

                                                    <li><a id="menu_link_33663" href="https://ksoutdoors.com/Hunting/When-to-Hunt" title="Seasons &amp; Limits"><span>Seasons &amp; Limits</span></a></li>

                                                    <li><a id="menu_link_36032" href="https://ksoutdoors.com/Hunting/What-to-Hunt" title="What to Hunt"><span>What to Hunt</span></a></li>

                                                    <li><a id="menu_link_33664" href="https://ksoutdoors.com/Hunting/Migratory-Birds/Waterfowl-Reports" title="Reports and Forecasts"><span>Reports and Forecasts</span></a></li>

                                                    <li><a id="menu_link_41176" href="https://kdwpt.isportsman.net" title="Daily Hunt Permits (iSportsman)"><span>Daily Hunt Permits (iSportsman)</span></a></li>

                                                    <li><a id="menu_link_33665" href="https://ksoutdoors.com/Hunting/What-to-Hunt" title="Game Species, Records &amp; Scoring"><span>Game Species, Records &amp; Scoring</span></a></li>

                                                    <li><a id="menu_link_33666" href="https://ksoutdoors.com/Services/Education/Bowhunter" title="Bowhunting"><span>Bowhunting</span></a></li>

                                                    <li><a id="menu_link_33667" href="https://ksoutdoors.com/Services/Education/Hunter" title="Hunter Education"><span>Hunter Education</span></a></li>

                                                    <li><a id="menu_link_33668" href="https://ksoutdoors.com/Hunting/Furharvesting" title="Furharvesting"><span>Furharvesting</span></a></li>

                                                    <li><a id="menu_link_37143" href="https://ksoutdoors.com/Hunting/Special-Hunts-Information" title="Special Hunt Information"><span>Special Hunt Information</span></a></li>

                                                    <li><a id="menu_link_33669" href="https://ksoutdoors.com/Hunting/Hunting-Programs" title="Hunting Programs"><span>Hunting Programs</span></a></li>

                                                    <li><a id="menu_link_40651" href="https://ksoutdoors.com/Hunting/Hunting-Programs/Donate-Your-Deer" title="Donate Your Deer"><span>Donate Your Deer</span></a></li>

                                                    <li><a id="menu_link_33670" href="https://ksoutdoors.com/Services/Law-Enforcement/Operation-Game-Thief" title="Report Violators"><span>Report Violators</span></a></li>

                                                    <li><a id="menu_link_42281" href="https://ksoutdoors.com/Hunting/Big-Game-Information/Chronic-Wasting-Disease" title="Chronic Wasting Disease (CWD)"><span>Chronic Wasting Disease (CWD)</span></a></li>

                                                    <li><a id="menu_link_33671" href="https://ksoutdoors.com/Hunting/Hunting-Regulations" title="Hunting Regulations"><span>Hunting Regulations</span></a></li>

                                                    <li><a id="menu_link_33672" href="https://ksoutdoors.com/Services/Law-Enforcement/Regulations/Falconry" title="Falconry"><span>Falconry</span></a></li>

                                                    <li><a id="menu_link_43348" href="https://ksoutdoors.com/License-Permits/HuntFish-KS" title="HuntFish KS Mobile App"><span>HuntFish KS Mobile App</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33738" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33738" href="https://ksoutdoors.com/Fishing" title="Fishing"><span>Fishing</span></a></div>


                                                <ul id="submenu_33738" class="submenu" style="width:300px; z-index: 2598001">
                                                    <li><a id="menu_link_33740" href="https://ksoutdoors.com/Fishing/Where-to-Fish-in-Kansas" title="Where to Fish"><span>Where to Fish</span></a></li>

                                                    <li><a id="menu_link_33739" href="https://ksoutdoors.com/Fishing/Fishing-Reports" title="Reports and Forecasts"><span>Reports and Forecasts</span></a></li>

                                                    <li><a id="menu_link_33741" href="https://ksoutdoors.com/Fishing/Fishing-Regulations/Statewide-Creel-Length-Limits" title="Seasons &amp; Limits"><span>Seasons &amp; Limits</span></a></li>

                                                    <li><a id="menu_link_33742" href="https://ksoutdoors.com/Fishing/Fishing-Application-and-Fees" title="Fees,  Licenses &amp; Permits"><span>Fees,  Licenses &amp; Permits</span></a></li>

                                                    <li><a id="menu_link_33743" href="https://ksoutdoors.com/Fishing/State-Record-Fish" title="Species &amp; Fish Records "><span>Species &amp; Fish Records </span></a></li>

                                                    <li><a id="menu_link_33745" href="https://ksoutdoors.com/Fishing/Fishing-Regulations" title="Fishing Regulations"><span>Fishing Regulations</span></a></li>

                                                    <li><a id="menu_link_33746" href="https://ksoutdoors.com/Fishing/Aquatic-Nuisance-Species" title="Aquatic Nuisance Species"><span>Aquatic Nuisance Species</span></a></li>

                                                    <li><a id="menu_link_33744" href="https://ksoutdoors.com/Fishing/How-to-Fish" title="Learn about Fish &amp; Fishing "><span>Learn about Fish &amp; Fishing </span></a></li>

                                                    <li><a id="menu_link_39153" href="https://ksoutdoors.com/Fishing/Hatcheries" title="Hatcheries"><span>Hatcheries</span></a></li>

                                                    <li><a id="menu_link_36687" href="https://ksoutdoors.com/Fishing/Special-Fishing-Programs-for-You" title="Special Fishing Programs"><span>Special Fishing Programs</span></a></li>

                                                    <li><a id="menu_link_33747" href="https://ksoutdoors.com/Fishing/Aquatic-Nuisance-Species/Certified-Bait-Dealers" title="Certified Bait Dealers"><span>Certified Bait Dealers</span></a></li>

                                                    <li><a id="menu_link_36686" href="https://ksoutdoors.com/Fishing/Tournaments" title="Tournaments"><span>Tournaments</span></a></li>

                                                    <li><a id="menu_link_37685" href="https://ksoutdoors.com/Fishing/Are-My-Fish-Safe-To-Eat" title="Fish Consumption Advisory"><span>Fish Consumption Advisory</span></a></li>

                                                    <li><a id="menu_link_33749" href="https://ksoutdoors.com/Outdoor-Activities/Outdoor-Health-and-Safety/Blue-Green-Algae-Information" title="Blue-green Algae"><span>Blue-green Algae</span></a></li>

                                                    <li><a id="menu_link_33748" href="https://ksoutdoors.com/Services/Law-Enforcement/Operation-Game-Thief" title="Report Violators"><span>Report Violators</span></a></li>

                                                    <li><a id="menu_link_39923" href="https://ksoutdoors.com/KDWPT-Info/News/Newsletter-Request-Forms" title="Newsletter Request Forms"><span>Newsletter Request Forms</span></a></li>

                                                    <li><a id="menu_link_43347" href="https://ksoutdoors.com/License-Permits/HuntFish-KS" title="HuntFish KS Mobile App"><span>HuntFish KS Mobile App</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33750" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33750" href="https://ksoutdoors.com/Boating" title="Boating"><span>Boating</span></a></div>


                                                <ul id="submenu_33750" class="submenu" style="width:300px; z-index: 2598002">
                                                    <li><a id="menu_link_33751" href="https://ksoutdoors.com/Boating/Registering-Your-Boat" title="Register Your Boat"><span>Register Your Boat</span></a></li>

                                                    <li><a id="menu_link_33752" href="https://ksoutdoors.com/Boating/Boating-Education" title="Boating Education"><span>Boating Education</span></a></li>

                                                    <li><a id="menu_link_33753" href="https://ksoutdoors.com/Boating/Boating-Legally" title="Boating Laws, Regulations &amp; Safety "><span>Boating Laws, Regulations &amp; Safety </span></a></li>

                                                    <li><a id="menu_link_33754" href="https://ksoutdoors.com/Boating/Boating-Access" title="Water Access"><span>Water Access</span></a></li>

                                                    <li><a id="menu_link_33755" href="https://ksoutdoors.com/Fishing/Aquatic-Nuisance-Species" title="Aquatic Nuisance Species"><span>Aquatic Nuisance Species</span></a></li>

                                                    <li><a id="menu_link_33756" href="https://ksoutdoors.com/Outdoor-Activities/Outdoor-Health-and-Safety/Blue-Green-Algae-Information" title="Blue-green Algae"><span>Blue-green Algae</span></a></li>

                                                    <li><a id="menu_link_36851" href="https://ksoutdoors.com/Boating/Required-Equipment-Checklist" title="Required Equipment Checklist"><span>Required Equipment Checklist</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33673" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33673" href="https://ksoutdoors.com/State-Parks" title="State Parks"><span>State Parks</span></a></div>


                                                <ul id="submenu_33673" class="submenu" style="width:300px; z-index: 2598003">
                                                    <li><a id="menu_link_33675" href="https://ksoutdoors.com/State-Parks/Locations" title="Find a State Park"><span>Find a State Park</span></a></li>

                                                    <li><a id="menu_link_33676" href="https://ksoutdoors.com/State-Parks/Reservations" title="Campsite &amp; Cabin Reservations"><span>Campsite &amp; Cabin Reservations</span></a></li>

                                                    <li><a id="menu_link_33677" href="https://ksoutdoors.com/State-Parks/Park-Fees" title="Park Fees &amp; Permits"><span>Park Fees &amp; Permits</span></a></li>

                                                    <li><a id="menu_link_37448" href="https://ksoutdoors.com/State-Parks/Parks-Passport" title="State Park Passport"><span>State Park Passport</span></a></li>

                                                    <li><a id="menu_link_37093" href="https://ksoutdoors.com/State-Parks/State-Park-Alerts" title="State Park Alerts!"><span>State Park Alerts!</span></a></li>

                                                    <li><a id="menu_link_40217" href="https://ksoutdoors.com/Outdoor-Activities/HIKING-BIKING-HORSEBACK-RIDING" title="Kansas Trails"><span>Kansas Trails</span></a></li>

                                                    <li><a id="menu_link_37539" href="https://ksoutdoors.com/State-Parks/State-Parks-Visitors-Gallery" title="State Parks Visitors' Gallery"><span>State Parks Visitors' Gallery</span></a></li>

                                                    <li><a id="menu_link_33678" href="https://ksoutdoors.com/State-Parks/Park-Regulations" title="Park Regulations"><span>Park Regulations</span></a></li>

                                                    <li><a id="menu_link_36120" href="https://ksoutdoors.com/State-Parks/Event-Calendar" title="State Park Events"><span>State Park Events</span></a></li>

                                                    <li><a id="menu_link_33679" href="https://ksoutdoors.com/State-Parks/AmeriCorps" title="AmeriCorps"><span>AmeriCorps</span></a></li>

                                                    <li><a id="menu_link_37028" href="https://ksoutdoors.com/State-Parks/S.C.O.R.P" title="Statewide Comprehensive Outdoor Recreation Plan (S.C.O.R.P)"><span>Statewide Comprehensive Outdoor Recreation Plan (S.C.O.R.P)</span></a></li>

                                                    <li><a id="menu_link_33680" href="https://ksoutdoors.com/Outdoor-Activities/Outdoor-Health-and-Safety/Blue-Green-Algae-Information" title="Blue-green Algae"><span>Blue-green Algae</span></a></li>

                                                    <li><a id="menu_link_39376" href="https://ksoutdoors.com/State-Parks/Special-Events/First-Day-Hikes" title="First Day Hikes"><span>First Day Hikes</span></a></li>

                                                    <li><a id="menu_link_43349" href="https://ksoutdoors.com/License-Permits/CampIt-KS" title="CampIt KS Mobile App"><span>CampIt KS Mobile App</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33681" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33681" href="https://ksoutdoors.com/Outdoor-Activities" title="Activities"><span>Activities</span></a></div>


                                                <ul id="submenu_33681" class="submenu" style="width:300px; z-index: 2598004">
                                                    <li><a id="menu_link_33682" href="https://ksoutdoors.com/Outdoor-Activities/HIKING-BIKING-HORSEBACK-RIDING" title="Hiking, Biking, &amp; Horseback Riding Trails"><span>Hiking, Biking, &amp; Horseback Riding Trails</span></a></li>

                                                    <li><a id="menu_link_33683" href="https://ksoutdoors.com/Outdoor-Activities/CANOEING-KAYAKING-RAFTING-PADDLE-BOARDING" title="Canoeing &amp; Kayaking"><span>Canoeing &amp; Kayaking</span></a></li>

                                                    <li><a id="menu_link_33684" href="https://ksoutdoors.com/KDWPT-Info/Locations/Rivers-and-Streams-Access" title="Rivers"><span>Rivers</span></a></li>

                                                    <li><a id="menu_link_33685" href="https://ksoutdoors.com/Services/Outdoor-Activities/Geocaching" title="Geocaching"><span>Geocaching</span></a></li>

                                                    <li><a id="menu_link_33686" href="https://ksoutdoors.com/Outdoor-Activities/RECREATIONAL-ARCHERY" title="Archery"><span>Archery</span></a></li>

                                                    <li><a id="menu_link_33688" href="https://ksoutdoors.com/Outdoor-Activities/SWIM-BEACHES" title="Swim Beaches"><span>Swim Beaches</span></a></li>

                                                    <li><a id="menu_link_33689" href="https://ksoutdoors.com/Services/Outdoor-Activities" title="Activity Search"><span>Activity Search</span></a></li>

                                                    <li><a id="menu_link_35371" href="https://ksoutdoors.com/Services/Education/Shooting-Ranges" title="Shooting Ranges"><span>Shooting Ranges</span></a></li>

                                                    <li><a id="menu_link_39314" href="https://ksoutdoors.com/Outdoor-Activities/DISC-GOLF" title="Disc Golf"><span>Disc Golf</span></a></li>

                                                    <li><a id="menu_link_41870" href="https://ksoutdoors.com/Outdoor-Activities/Track-Chairs-ASK-Program" title="Track Chairs (ASK Program)"><span>Track Chairs (ASK Program)</span></a></li>

                                                    <li><a id="menu_link_42004" href="https://ksoutdoors.com/Outdoor-Activities/Unmanned-Aircraft-Vehicles-UAV" title="Unmanned Aircraft Vehicles (UAV)"><span>Unmanned Aircraft Vehicles (UAV)</span></a></li>

                                                    <li><a id="menu_link_36856" href="https://ksoutdoors.com/Outdoor-Activities/Outdoor-Health-and-Safety" title="Outdoor Health and Safety"><span>Outdoor Health and Safety</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33691" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33691" href="https://ksoutdoors.com/License-Permits" title="Licenses &amp; Permits"><span>Licenses &amp; Permits</span></a></div>

                                                <ul id="submenu_33691" class="submenu " style="width:600px; z-index: 259805">
                                                    <li class="menuitem-level3">
                                                        <ul id="submenu3_33692" class="submenu3 first ">


                                                            <li class="sub-heading">
                                                                <span>HUNTING, FISHING &amp; PARKS</span>
                                                            </li>

                                                            <li><a id="menu_link_33693" href="https://www.kshuntfishcamp.com/signinWithIdentifierAndDob.page" title="Buy Licenses &amp; Permits"><span>Buy Licenses &amp; Permits</span></a></li>
                                                            <li><a id="menu_link_33694" href="https://ksoutdoors.com/License-Permits/License-Permit-Requirements-Fees" title="License/Permit Requirements &amp; Fees"><span>License/Permit Requirements &amp; Fees</span></a></li>
                                                            <li><a id="menu_link_33695" href="https://ksoutdoors.com/License-Permits/Locations-to-Buy-License-Permits" title="Where to Buy"><span>Where to Buy</span></a></li>
                                                            <li><a id="menu_link_38729" href="https://ksoutdoors.com/License-Permits/Check-Lottery-Draw-Status" title="Check Non-Resident Deer Draw Results"><span>Check Non-Resident Deer Draw Results</span></a></li>
                                                            <li><a id="menu_link_40754" href="https://ksoutdoors.com/License-Permits/365-Day-Licenses" title="365-Day Licenses"><span>365-Day Licenses</span></a></li>
                                                            <li><a id="menu_link_40755" href="https://ksoutdoors.com/License-Permits/Auto-Renew" title="Auto-Renew"><span>Auto-Renew</span></a></li>
                                                            <li><a id="menu_link_43354" href="https://ksoutdoors.com/License-Permits/CampIt-KS" title="CampIt KS Mobile App"><span>CampIt KS Mobile App</span></a></li>
                                                            <li><a id="menu_link_43355" href="https://ksoutdoors.com/License-Permits/HuntFish-KS" title="HuntFish KS Mobile App"><span>HuntFish KS Mobile App</span></a></li>
                                                            <li><a id="menu_link_43366" href="https://ksoutdoors.com/License-Permits/Gift-Cards" title="KDWPT Gift Cards"><span>KDWPT Gift Cards</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="menuitem-level3">
                                                        <ul id="submenu3_33696" class="submenu3 mid ">


                                                            <li class="sub-heading">
                                                                <span>OTHER PERMITS</span>
                                                            </li>

                                                            <li><a id="menu_link_33697" href="https://ksoutdoors.com/Services/Education-Exhibition-Collection-and-Salvage-Permits" title="Educ, Exhibit, Collect, &amp; Salv Permits"><span>Educ, Exhibit, Collect, &amp; Salv Permits</span></a></li>
                                                            <li><a id="menu_link_33698" href="https://ksoutdoors.com/Fishing/Fishing-Regulations/Special-Event-Permits" title="Special Event/Tournament Permits"><span>Special Event/Tournament Permits</span></a></li>
                                                            <li><a id="menu_link_33699" href="https://ksoutdoors.com/Hunting/Hunting-Regulations/General-Information/Salvage-Tag" title="Salvage Tags"><span>Salvage Tags</span></a></li>
                                                            <li><a id="menu_link_33700" href="https://ksoutdoors.com/Services/Threatened-and-Endangered-Wildlife/Threatened-and-Endangered-Species-Action-Permit" title="T&amp;E Species Action Permit"><span>T&amp;E Species Action Permit</span></a></li>
                                                            <li><a id="menu_link_33701" href="https://ksoutdoors.com/Hunting/Hunting-Regulations/Furbearers/Furbearer-Field-Trials" title="Field Trial Permit"><span>Field Trial Permit</span></a></li>
                                                            <li><a id="menu_link_33702" href="https://ksoutdoors.com/Services/Rehabilitation" title="Wildlife Rehab"><span>Wildlife Rehab</span></a></li>
                                                            <li><a id="menu_link_33703" href="https://ksoutdoors.com/Services/Law-Enforcement/Regulations/Falconry" title="Falconry Permit"><span>Falconry Permit</span></a></li>
                                                            <li><a id="menu_link_33704" href="https://ksoutdoors.com/Hunting/Hunting-Programs/Certified-Game-Breeders" title="Game Breeder Permit"><span>Game Breeder Permit</span></a></li>
                                                            <li><a id="menu_link_33705" href="" title="Raptor Propagation"><span>Raptor Propagation</span></a></li>
                                                            <li><a id="menu_link_33706" href="https://ksoutdoors.com/Services/Wildlife-Damage-Control" title="Wildlife Damage Control"><span>Wildlife Damage Control</span></a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33707" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33707" href="https://ksoutdoors.com/Education" title="Education"><span>Education</span></a></div>


                                                <ul id="submenu_33707" class="submenu" style="width:300px; z-index: 2598006">
                                                    <li><a id="menu_link_33708" href="https://ksoutdoors.com/Services/Education/Hunter" title="Hunter Education"><span>Hunter Education</span></a></li>

                                                    <li><a id="menu_link_33715" href="https://ksoutdoors.com/Services/Education/Bowhunter" title="Bowhunter Education"><span>Bowhunter Education</span></a></li>

                                                    <li><a id="menu_link_36535" href="https://ksoutdoors.com/Services/Education/Furharvester" title="Furharvester Education"><span>Furharvester Education</span></a></li>

                                                    <li><a id="menu_link_33709" href="https://ksoutdoors.com/Boating/Boating-Education" title="Boating Education"><span>Boating Education</span></a></li>

                                                    <li><a id="menu_link_33716" href="https://ksoutdoors.com/Fishing/Special-Fishing-Programs-for-You/Aquatic-Education" title="Fishing Education"><span>Fishing Education</span></a></li>

                                                    <li><a id="menu_link_33714" href="https://ksoutdoors.com/Services/Education/Becoming-an-Outdoors-Woman" title="Becoming an Outdoor Woman"><span>Becoming an Outdoor Woman</span></a></li>

                                                    <li><a id="menu_link_33710" href="https://programs.ksoutdoors.com/Programs/Aquatic-Nuisance-Species-Certification-Course" title="Aquatic Nuisance Species Certification"><span>Aquatic Nuisance Species Certification</span></a></li>

                                                    <li><a id="menu_link_33711" href="https://programs.ksoutdoors.com/Programs/Sandhill-Crane-Certificate" title="Crane I.D."><span>Crane I.D.</span></a></li>

                                                    <li><a id="menu_link_37402" href="https://ksoutdoors.com/Services/Education/Wildlife-Education-Service-WES" title="Wildlife Education Service (WES)"><span>Wildlife Education Service (WES)</span></a></li>

                                                    <li><a id="menu_link_33713" href="https://ksoutdoors.com/Services/Education/Outdoor-Wildlife-Learning-Sites-OWLS" title="Outdoor Wildlife Learning Sites (OWLS)"><span>Outdoor Wildlife Learning Sites (OWLS)</span></a></li>

                                                    <li><a id="menu_link_33717" href="https://ksoutdoors.com/KDWPT-Info/Locations/Museums-and-Nature-Centers" title="Science/Nature Ctrs &amp; Museums"><span>Science/Nature Ctrs &amp; Museums</span></a></li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33718" class="mainmenu">
                                                <div class="menu-item"><a id="menu_link_33718" href="https://ksoutdoors.com/Wildlife-Habitats" title="Wildlife &amp; Nature"><span>Wildlife &amp; Nature</span></a></div>

                                                <ul id="submenu_33718" class="submenu " style="width:600px; z-index: 259807">
                                                    <li class="menuitem-level3">
                                                        <ul id="submenu3_33719" class="submenu3 first ">


                                                            <li class="sub-heading">
                                                                <span>WILDLIFE &amp; HABITATS</span>
                                                            </li>

                                                            <li><a id="menu_link_33720" href="https://ksoutdoors.com/Wildlife-Habitats/Wildlife-Conservation" title="Wildlife Conservation"><span>Wildlife Conservation</span></a></li>
                                                            <li><a id="menu_link_33721" href="https://ksoutdoors.com/Services/Private-Landowner-Assistance" title="Private Landowner Assistance"><span>Private Landowner Assistance</span></a></li>
                                                            <li><a id="menu_link_33722" href="https://ksoutdoors.com/Services/Rehabilitation" title="Injured/Orphaned Wildlife"><span>Injured/Orphaned Wildlife</span></a></li>
                                                            <li><a id="menu_link_33723" href="https://ksoutdoors.com/Services/Wildlife-Damage-Control" title="Wildlife Damage Control"><span>Wildlife Damage Control</span></a></li>
                                                            <li><a id="menu_link_33724" href="https://ksoutdoors.com/Wildlife-Habitats/Wildlife-Sightings" title="Wildlife Sightings"><span>Wildlife Sightings</span></a></li>
                                                            <li><a id="menu_link_33725" href="https://ksoutdoors.com/Wildlife-Habitats/Wildlife-Vehicle-Crashes" title="Wildlife/Vehicle Crashes"><span>Wildlife/Vehicle Crashes</span></a></li>
                                                            <li><a id="menu_link_37883" href="https://ksoutdoors.com/Services/Threatened-and-Endangered-Wildlife" title="Threatened and Endangered Wildlife"><span>Threatened and Endangered Wildlife</span></a></li>
                                                            <li><a id="menu_link_42010" href="https://ksoutdoors.com/KDWPT-Info/Locations/National-Refuges-Grasslands-and-Preserves" title="National Refuges, Grasslands &amp; Preserves"><span>National Refuges, Grasslands &amp; Preserves</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="menuitem-level3">
                                                        <ul id="submenu3_35837" class="submenu3 mid ">


                                                            <li class="sub-heading">
                                                                <span>NATURAL KANSAS</span>
                                                            </li>

                                                            <li><a id="menu_link_35836" href="https://ksoutdoors.com/Wildlife-Habitats/Wildlife-Watching" title="Wildlife Watching"><span>Wildlife Watching</span></a></li>
                                                            <li><a id="menu_link_35838" href="https://ksoutdoors.com/Wildlife-Habitats/Wildflowers" title="Wildflowers"><span>Wildflowers</span></a></li>
                                                            <li><a id="menu_link_35839" href="https://ksoutdoors.com/Wildlife-Habitats/Scenic-Wonders" title="Scenic Wonders"><span>Scenic Wonders</span></a></li>
                                                            <li><a id="menu_link_35841" href="https://ksoutdoors.com/Wildlife-Habitats/Resources" title="Resources"><span>Resources</span></a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>




                                            <li id="node_id_33733" class="mainmenu lastli">
                                                <div class="menu-item"><a id="menu_link_33733" href="https://ksoutdoors.com/Tourism" title="TravelKS"><span>TravelKS</span></a></div>


                                                <ul id="submenu_33733" class="submenu" style="width:300px; z-index: 2598008">
                                                    <li><a id="menu_link_33734" href="https://www.travelks.com/" title="Kansas Tourism"><span>Kansas Tourism</span></a></li>

                                                    <li><a id="menu_link_33737" href="https://www.travelks.com/ksbyways/" title="Kansas Byways"><span>Kansas Byways</span></a></li>

                                                    <li><a id="menu_link_36369" href="https://www.getoutdoorskansas.org/" title="Play in Kansas"><span>Play in Kansas</span></a></li>

                                                    <li><a id="menu_link_36370" href="https://www.travelks.com/industry/" title="Travel Industry"><span>Travel Industry</span></a></li>

                                                    <li><a id="menu_link_36406" href="https://www.travelks.com/ks-mag/" title="KANSAS! Magazine"><span>KANSAS! Magazine</span></a></li>

                                                    <li><a id="menu_link_33735" href="https://www.travelks.com/things-to-do/farming-and-ranch-experiences/" title="Farm &amp; Ranch Experiences"><span>Farm &amp; Ranch Experiences</span></a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="break"></div>
                            <!-- Top menu area: END -->
                        </div>


                        <!-- Path area: START -->
                        <div class="breadcrumb-wrapper nav-collapse">
                            <!-- Path content: START -->
                            <div class="container">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="https://ksoutdoors.com/">KDWPT</a> <span class="divider">»</span>
                                    </li>
                                    <li class="active">
                                        Schoolyard Biodiversity Exchange
                                    </li>
                                </ul>
                            </div>
                            <!-- Path content: END -->
                        </div>
                        <!-- Path area: END -->
                        <!-- Toolbar area: END -->
                        <!-- Columns area: START -->

                        <div class="container">
                            <div class="row">


                                <!-- Side menu area: START -->
                                <div class="span3 side-menu">



                                    <style>

                                        #ol33757 .ui-selecting {
                                            background: #FECA40;
                                        }

                                        #ol33757 .ui-selected {
                                            background: #F39814;
                                            color: white;
                                        }

                                        #ol33757 {
                                            list-style-type: none;
                                            margin: 0;
                                            padding: 0;
                                            width: 100%;
                                        }

                                            #ol33757 li {
                                                margin: 5px 0px;
                                                padding: 0em;
                                                font-size: 1em;
                                                cursor: hand;
                                                cursor: pointer;
                                            }

                                        .side-menu-item {
                                            width: 100%;
                                        }

                                        .side-menu-one .ui-state-default .ui-icon {
                                            left: auto;
                                            right: 0.5em;
                                        }

                                        .side-menu-one .ui-button {
                                            text-align: left;
                                        }
                                    </style>

                                    <script type="text/javascript">



                                        $(function () {

                                            var listClass = '.menu_33757';

                                            $(listClass).each(function () {
                                                var args = $(this).attr('id').split('_');
                                                var subID = '#' + args[0] + 'div';
                                                $(subID).hide();
                                                $(this).button({ icons: { primary: "ui-icon-circle-plus" } });
                                                $(this).data('state', 'collapse');
                                                /*
$(this).selectable(
{
stop: function() {
                                            $( ".ui-selected", this ).each(function()
                                            {
                                                $(subID).data('state','expand');
                                                $(this).button({icons: {primary: "ui-icon-circle-minus"} });
                                            $(subID).show();

                                        });
}
});
*/
                                            });

                                            //first one is open so it need to be a minus
                                            /*if(block_expand_33757=='1')
                                            {

                                                  $('#33757').data('state','expand');
                                                  $('#33757').button({icons: {primary: "ui-icon-circle-minus"} });
                                            }
                                            else
                                            {
                                                  $('#33757div').hide();
                                                   $('#33757').button({icons: {primary: "ui-icon-circle-plus"} });
                                                  $('#33757').data('state','collapse');
                                            }*/

                                            $("#" + opendivs + "div").data('state', 'expand');
                                            $("#" + opendivs).button({ icons: { primary: "ui-icon-circle-minus" } });
                                            $("#" + opendivs + "div").show();

                                        });

                                    </script>
                                    <div class="ui-corner-all nomobile">

                                        <div id="33757div">
                                            <ul id="ol33757" class="mainmobextra ">

                                                <li id="33758l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/KDWPT-Info/Kansas-Outdoor-Events" title="Events">Events</a></li>
                                                <li id="33758-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33758" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">Events</span></div>
                                                    <ul id="33758div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_33759" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Kansas-Outdoor-Events" title="Kansas Outdoor Events">Kansas Outdoor Events</a>
                                                        </li>

                                                        <li id="block-sub_33760" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Hunting/When-to-Hunt/Hunting-Seasons" title="Seasons">Seasons</a>
                                                        </li>

                                                        <li id="block-sub_33761" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Education/Hunter/Class-Schedule" title="Hunter Education Classes">Hunter Education Classes</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33762l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/KDWPT-Info/News/Weekly-News" title="News">News</a></li>
                                                <li id="33762-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33762" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">News</span></div>
                                                    <ul id="33762div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_33763" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News" title="News Releases">News Releases</a>
                                                        </li>

                                                        <li id="block-sub_35791" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Legislative-Update-Report" title="Legislative Update">Legislative Update</a>
                                                        </li>

                                                        <li id="block-sub_33764" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News/News-Email-Sign-up" title="News Alert Sign-Up">News Alert Sign-Up</a>
                                                        </li>

                                                        <li id="block-sub_37470" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News/Newsletters" title="All Agency Newsletters">All Agency Newsletters</a>
                                                        </li>

                                                        <li id="block-sub_36888" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News/Newsletter-Request-Forms" title="Newsletter Request Forms">Newsletter Request Forms</a>
                                                        </li>

                                                        <li id="block-sub_33765" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News/Public-Affairs-Contact" title="Public Affairs Contact">Public Affairs Contact</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33766l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/Services/Law-Enforcement" title="Laws, Regulations &amp; Enforcement">Laws, Regulations &amp; Enforcement</a></li>
                                                <li id="33766-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33766" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">Laws, Regulations &amp; Enforcement</span></div>
                                                    <ul id="33766div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_35409" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement" title="Law Enforcement Information">Law Enforcement Information</a>
                                                        </li>

                                                        <li id="block-sub_33767" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Regulations" title="Laws &amp; Regulations">Laws &amp; Regulations</a>
                                                        </li>

                                                        <li id="block-sub_33769" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Operation-Game-Thief" title="Report Violators">Report Violators</a>
                                                        </li>

                                                        <li id="block-sub_33768" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Follow-Officer-Activity" title="Law Enforcement Activities">Law Enforcement Activities</a>
                                                        </li>

                                                        <li id="block-sub_33770" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Who-do-I-call" title="Law Enforcement Contacts">Law Enforcement Contacts</a>
                                                        </li>

                                                        <li id="block-sub_33771" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Landowner-Permission-Card" title="Landowner Permission Card">Landowner Permission Card</a>
                                                        </li>

                                                        <li id="block-sub_33772" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Transferring-Fish-and-Game-to-Another-Person" title="Transferring Fish and Game to Another Person">Transferring Fish and Game to Another Person</a>
                                                        </li>

                                                        <li id="block-sub_41229" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/We-Will-Never-Forget" title="We Will Never Forget">We Will Never Forget</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33773l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/KDWPT-Info/Commission" title="KDWPT Commission">KDWPT Commission</a></li>
                                                <li id="33773-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33773" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">KDWPT Commission</span></div>
                                                    <ul id="33773div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_33774" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Commission" title="About the Commission">About the Commission</a>
                                                        </li>

                                                        <li id="block-sub_33775" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Commission/Commissioners" title="Commissioners">Commissioners</a>
                                                        </li>

                                                        <li id="block-sub_35442" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Commission/Current-LIVE-Commission-Meeting" title="LIVE Commission Meeting">LIVE Commission Meeting</a>
                                                        </li>

                                                        <li id="block-sub_33776" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Commission/Past-and-Future-Meetings" title="Meeting Dates">Meeting Dates</a>
                                                        </li>

                                                        <li id="block-sub_33777" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Pending-Draft-Regulations" title="Pending Draft Regulations">Pending Draft Regulations</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33778l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/Services/Publications" title="Publications">Publications</a></li>
                                                <li id="33778-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33778" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">Publications</span></div>
                                                    <ul id="33778div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_33779" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Publications/Magazine" title="Kansas Wildlife &amp; Parks Magazine">Kansas Wildlife &amp; Parks Magazine</a>
                                                        </li>

                                                        <li id="block-sub_33780" class="block-submenu-item">
                                                            <a href="https://www.travelks.com/ks-mag/" title="Kansas! Magazine">Kansas! Magazine</a>
                                                        </li>

                                                        <li id="block-sub_33781" class="block-submenu-item">
                                                            <a href="https://digital.emagazines.com/Kansas_Official_Travel_Guide/20191108/index.html?t=a34fa984-f18d-4ff9-a4e3-74657b8cd7e3&amp;k=7 " title="Kansas Travel Guide">Kansas Travel Guide</a>
                                                        </li>

                                                        <li id="block-sub_33782" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Locations/Hunting-Fishing-Atlas" title="Atlases">Atlases</a>
                                                        </li>

                                                        <li id="block-sub_33783" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Publications" title="All KDWPT Publications">All KDWPT Publications</a>
                                                        </li>

                                                        <li id="block-sub_33784" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Research-Publications" title="Research Publications">Research Publications</a>
                                                        </li>

                                                        <li id="block-sub_40178" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/News/Newsletters" title="Newsletters">Newsletters</a>
                                                        </li>

                                                        <li id="block-sub_33785" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Menus/Side-Menu/Publications/Request-Literature-PDF" title="Request Literature (PDF)">Request Literature (PDF)</a>
                                                        </li>

                                                        <li id="block-sub_41118" class="block-submenu-item">
                                                            <a href="https://history.ksoutdoors.com/magazines" title="KDWPT Magazine Archive">KDWPT Magazine Archive</a>
                                                        </li>

                                                        <li id="block-sub_37218" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Publications/Magazine/2019-Wild-About-Kansas-Photo-Contest" title="2019 " wild="" about="" kansas"="" photo="" contest"="">2019 "Wild About Kansas" Photo Contest</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33786l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/" title="Outdoor Store">Outdoor Store</a></li>
                                                <li id="33786-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33786" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">Outdoor Store</span></div>
                                                    <ul id="33786div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_33788" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/Programs/KDWPT-Outdoor-Store/Youth-T-Shirts" title="Youth Clothing">Youth Clothing</a>
                                                        </li>

                                                        <li id="block-sub_35734" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/Programs/KDWPT-Outdoor-Store/Adult-Shirts-Sweatshirts" title="Adult Shirts/Sweatshirts">Adult Shirts/Sweatshirts</a>
                                                        </li>

                                                        <li id="block-sub_33787" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/Programs/KDWPT-Outdoor-Store/Books" title="Books">Books</a>
                                                        </li>

                                                        <li id="block-sub_33789" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/Programs/KDWPT-Outdoor-Store/DVDs" title="DVDs">DVDs</a>
                                                        </li>

                                                        <li id="block-sub_33790" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/Programs/KDWPT-Outdoor-Store/Accessories" title="Miscellaneous">Miscellaneous</a>
                                                        </li>

                                                        <li id="block-sub_33792" class="block-submenu-item">
                                                            <a href="https://programs.ksoutdoors.com/kdwptstore/basket" title="Shopping Cart">Shopping Cart</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li id="33793l" class="block-listitem mobile-show"><a href="https://ksoutdoors.com/KDWPT-Info" title="Doing Business with Us">Doing Business with Us</a></li>
                                                <li id="33793-li" class="side-menu-one ui-corner-all  nomobile">

                                                    <div id="33793" class="menu_33757 clickhead side-menu-item ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text">Doing Business with Us</span></div>
                                                    <ul id="33793div" class="block-submenu subitemnoborders ui-corner-bottom" style="display: none;">
                                                        <li id="block-sub_37132" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Locations" title="KDWPT Offices/Locations">KDWPT Offices/Locations</a>
                                                        </li>

                                                        <li id="block-sub_38501" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Donate" title="How to Donate to KDWPT">How to Donate to KDWPT</a>
                                                        </li>

                                                        <li id="block-sub_33794" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Private-Landowner-Assistance" title="Landowners">Landowners</a>
                                                        </li>

                                                        <li id="block-sub_36901" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/KDWPT-Info/Grants" title="Grants">Grants</a>
                                                        </li>

                                                        <li id="block-sub_33796" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Fishing/Aquatic-Nuisance-Species/Certified-Bait-Dealers" title="Bait Dealers">Bait Dealers</a>
                                                        </li>

                                                        <li id="block-sub_33797" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Education/Shooting-Ranges" title="Shooting Ranges">Shooting Ranges</a>
                                                        </li>

                                                        <li id="block-sub_33798" class="block-submenu-item">
                                                            <a href="https://www.travelks.com/industry/agritourism/" title="Agritourism Businesses">Agritourism Businesses</a>
                                                        </li>

                                                        <li id="block-sub_33799" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Environmental-Reviews" title="Environmental Reviews">Environmental Reviews</a>
                                                        </li>

                                                        <li id="block-sub_33800" class="block-submenu-item">
                                                            <a href="https://ksoutdoors.com/Services/Education-Exhibition-Collection-and-Salvage-Permits" title="Education, Exhibition, Collecting, and Salvage Permits">Education, Exhibition, Collecting, and Salvage Permits</a>
                                                        </li>

                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="display:none;">
                                        <ul id="mainmobextra">
                                            <li><a id="menu_link_33758" href="https://ksoutdoors.com/KDWPT-Info/Kansas-Outdoor-Events" title="Events"><span>Events</span></a></li>
                                            <li><a id="menu_link_33762" href="https://ksoutdoors.com/KDWPT-Info/News/Weekly-News" title="News"><span>News</span></a></li>
                                            <li><a id="menu_link_33766" href="https://ksoutdoors.com/Services/Law-Enforcement" title="Laws, Regulations &amp; Enforcement"><span>Laws, Regulations &amp; Enforcement</span></a></li>
                                            <li><a id="menu_link_33773" href="https://ksoutdoors.com/KDWPT-Info/Commission" title="KDWPT Commission"><span>KDWPT Commission</span></a></li>
                                            <li><a id="menu_link_33778" href="https://ksoutdoors.com/Services/Publications" title="Publications"><span>Publications</span></a></li>
                                            <li><a id="menu_link_33786" href="https://ksoutdoors.com/" title="Outdoor Store"><span>Outdoor Store</span></a></li>
                                            <li><a id="menu_link_33793" href="https://ksoutdoors.com/KDWPT-Info" title="Doing Business with Us"><span>Doing Business with Us</span></a></li>
                                        </ul>
                                    </div>

                                    <div id="address-7b136f0fefcc7202b2601ff25b798913-e2bee4d4fb67c65dccce184842d81413">
                                        <div class="block-type-content-grid block-view-1_column_4_rows">
                                            <a href="https://ksoutdoors.com/Services/Law-Enforcement/Operation-Game-Thief" title="Operation Game Thief" alt="Operation Game Thief" class="no-small-mobile" target="_blank">
                                                <img src="~/images/Operation-Game-Thief-Small.png" style="border: 1px  ;" alt="Operation Game Thief" title="Operation Game Thief" width="310">
                                            </a>
                                            <div class="show-small-mobile" style="width: 100%; padding-top: 5px;">
                                                <a href="https://ksoutdoors.com/Services/Law-Enforcement/Operation-Game-Thief" title="Operation Game Thief" alt="Operation Game Thief" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only mobile-show" style="width: 100%;">
                                                    <span class="ui-button-text" style="padding:.6em; text-align: left;">Operation Game Thief</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-separator"></div>

                                    <div id="address-7b136f0fefcc7202b2601ff25b798913-8cbe6045f7a9cee5fcda90d7642189c1">
                                        <div class="block-type-content-grid block-view-1_column_4_rows">
                                            <a href="https://ksoutdoors.com/KDWPT-Mobile-Apps" title="KDWPT Mobile Apps" alt="KDWPT Mobile Apps" class="no-small-mobile" target="_blank">
                                                <img src="~/images/KDWPT-Mobile-Apps.png" style="border: 1px  ;" alt="KDWPT Mobile Apps" title="KDWPT Mobile Apps" width="310">
                                            </a>

                                            <div class="show-small-mobile" style="width: 100%; padding-top: 5px;">
                                                <a href="https://ksoutdoors.com/KDWPT-Mobile-Apps" title="KDWPT Mobile Apps" alt="365 Licenses" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only mobile-show" style="width: 100%;">
                                                    <span class="ui-button-text" style="padding:.6em; text-align: left;">KDWPT Mobile Apps</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="block-separator"></div>

                                    <div id="address-7b136f0fefcc7202b2601ff25b798913-6c14da645851fcf8b01a6387d0629a07">

                                        <div class="block-type-content-grid block-view-default">

                                            <a href="https://ksoutdoors.com/KDWPT-Info/Legislative-Update-Report" title="Legislative Update" alt="Legislative Update" class="no-small-mobile" target="_blank">



                                                <img src="~/images/Legislative-Update_contentgrid.png" style="border: 1px  ;" alt="Legislative Update" title="Legislative Update" width="370" height="160">



                                            </a>

                                            <div class="show-small-mobile" style="width: 100%; padding-top: 5px;">
                                                <a href="https://ksoutdoors.com/KDWPT-Info/Legislative-Update-Report" title="Legislative Update" alt="Legislative Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only mobile-show" style="width: 100%;">
                                                    <span class="ui-button-text" style="padding:.6em; text-align: left;">Legislative Update</span>
                                                </a>
                                            </div>
                                            <a href="https://ksoutdoors.com/State-Parks/Reservations" title="Reservations" alt="Reservations" class="no-small-mobile" target="_blank">



                                                <img src="~/images/Reservations_contentgrid.png" style="border: 1px  ;" alt="Reservations" title="Reservations" width="300" height="150">



                                            </a>

                                            <div class="show-small-mobile" style="width: 100%; padding-top: 5px;">
                                                <a href="https://ksoutdoors.com/State-Parks/Reservations" title="Reservations" alt="Reservations" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only mobile-show" style="width: 100%;">
                                                    <span class="ui-button-text" style="padding:.6em; text-align: left;">Reservations</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="block-separator"></div>


                                    <div class="official-logo nomobile" style="margin: 5px auto 0 auto; text-align: center;">
                                        <a href="https://ksoutdoors.com/" title="KDWPT Home"><img src="~/images/KDWPT-logo-200.png" alt="KDWPT Logo" title="KDWPT Home"></a>
                                    </div>
                                </div>
                                <!-- Side menu area: END -->
                                <!-- Main area: START -->
                                <div class="span9 main-content">
                                    @RenderBody()
                                    @RenderSection("Scripts", required: false)
                                </div>

                                <!-- Main area: END -->


                            </div>

                            <!-- Footer area: START -->
                            <!-- Footer area: START -->
                            <footer>
                                <div class="nav-collapse">
                                    <nav id="footer-menu" class="container">
                                        <div class="footer-menu-items">
                                            <div id="item-33802" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/KDWPT-Social-Media" title="SOCIAL MEDIA">SOCIAL MEDIA</a>
                                                </div>
                                            </div>
                                            <div id="item-33807" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info" title="ABOUT US">ABOUT US</a>
                                                </div>
                                            </div>
                                            <div id="item-41294" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/Notices/Privacy-Policy" title="PRIVACY POLICY">PRIVACY POLICY</a>
                                                </div>
                                            </div>
                                            <div id="item-33813" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/Contact-us" title="CONTACT US">CONTACT US</a>
                                                </div>
                                            </div>
                                            <div id="item-33818" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/Jobs" title="JOBS">JOBS</a>
                                                </div>
                                            </div>
                                            <div id="item-33821" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/Donate" title="DONATE">DONATE</a>
                                                </div>
                                            </div>
                                            <div id="item-33824" class="foot-col ">
                                                <div class="footer-menu-name">
                                                    <a href="https://ksoutdoors.com/KDWPT-Info/Open-Records-Request" title="OPEN RECORDS">OPEN RECORDS</a>
                                                </div>
                                            </div>
                                            <div id="item-33825" class="foot-col last-col">
                                                <div class="footer-menu-name">
                                                    Font Size:
                                                    <a href="javascript:void" id="textLarge" onclick="increaseFontSize(); return true;" onkeydown="increaseFontSize(); return true;" title="Increase Font Size">+A</a>
                                                    <a href="javascript:void" id="textSmall" onclick="decreaseFontSize(); return true;" onkeydown="decreaseFontSize(); return true;" title="Decrease Font Size">-a</a>

                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                                <div class="claim-wrapper">
                                    <div class="container">
                                        <div class="nav-collapse" itemscope="" itemtype="https://schema.org/Organization">
                                            Official Website of the <span itemprop="name">Kansas Department of Wildlife, Parks and Tourism</span>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                            <!-- Footer area: END -->				    <!-- Footer area: END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Columns area: END -->
    <!-- Complete page area: END -->
    <!-- Footer script area: START -->
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto({ theme: 'light_rounded', autoplay_slideshow: 'true', animation: 5000 });
        });


    </script>
    <!-- Footer script area: END -->



</body>
</html>
